*
{
	align-content: center;
}

body
{
	background-color: cornflowerblue;
}

.cards
{
	text-align: center;
	position: relative;
	width: 300px;
	/*margin-left: 30px;*/
	margin: 30px;
	border: 1px solid black;
}

button
{
	border: 1px solid black;
}